/* Основной цвет текста #757575 */

/* Цвет заголовки #212121 */

/* Цвет акцентов #2196F3 */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #fff;
    --secondary-bg-color: #F5F4FA;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

/* Хэдер лого */

.logo {
    color: #000;
}

.accent {
    color: var(--accent-color);
}

/* Хэдер навигация */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-auth .link {
    color: var(--title-text-color);
}

.site-auth .link:hover,
.site-auth .link:focus {
    color: var(--accent-color);
}

/* Hero */

.hero-title {
    color: #fff;
}

.hero {
    background-color: #2F303A;
}

/* Преимущества */

.section-title {
    color: var(--title-text-color);
}

.feature-list .title {
    color: var(--title-text-color);
}

/* Наша команда */

.team-list .title {
    color: var(--title-text-color);
}

/*  */
/* Button */

.button {
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
    
    font-size: 16px;
    display: inline-block;
    border: none;
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button.secondary {
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
}


/* Portfolio */

.project-list .title {
    color: var(--title-text-color);
}



